body {
    margin: 0;
    padding: 20px;
    
}

#container{
width: 600px;
height: 600px;
border: 1px solid white;
border-radius: 5px;
background-color: #1F2937;
opacity: 1;
padding-left: 20px;
padding-right: 10px;
 max-width: 80%;
margin: auto;
}

#text{
    padding: 30px;
}
h1{
font-weight: 700;
font-style: ExtraBold;
font-size: 40px;
line-height: 40px;
letter-spacing: -2.5%;
margin: 0;

}
#gen{
    color: white;
    margin-top: 90px;

}
#ran{
   color: #10B981; 
}
p{
font-weight: 200;
font-size: px;
line-height: 28px;
letter-spacing: 0%;
margin: 0;
margin-top: 10px;
color: white;
}
#click-btn{
    margin-bottom: 50px;
}
#gen-btn{
width: 191px;
height: 42px;
opacity: 1;
border: none;
border-radius: 6px;
padding-top: 9px;
padding-right: 17px;
padding-bottom: 9px;
padding-left: 15px;
color: white;
background-color: #10B981;
}
hr{
width: 446.0000000000017px;
height: 0px;
opacity: 1;
border-width: 1px;
color: #2F3E53;
margin-top: 30px;
margin-bottom: 0;
}
.area-container{
   display: flex;
}
#left-text{
width: 200px;
height: 30px;
border-radius: 6px;
background-color: #273549;
color: #10B981;
text-align: center;
font-size: 18px;
border: none;
padding-top:3px;
}
#right-text{
width: 200px;
height: 30px;
border-radius: 6px;
background-color: #273549;
color: #10B981;
text-align: center;
font-size: 18px;
border: none;
padding-top:3px;
}
#text-container{
    display: flex;
    margin-top: 20px;
}
#left-icon{
margin-right: 50px;
margin-top: 9px;
color: white;
background-color: #10B981;
border: none;
border-radius: 6px;
padding: 0px 15px;
}
#right-icon{
margin-top: 9px;
color: white;
background-color: #10B981;
border: none;
border-radius: 6px;
padding: 0px 15px;
}